* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 1440px;
  height: 7450px;
}

header {
  display: flex;
  gap: 417px;
  padding-left: 150px;
  padding-right: 140px;
  width: 1440px;
  height: 90px;
  padding-top: 25px;
  box-shadow: 0px 2px 0px 0px;
}

.h_a {
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
  color: black;
  width: 100px;
}

.h_a:hover {
  transition: 0.5s;
  color: rgb(42, 14, 229);
  font-weight: 700;
}

.d1 {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 172px;
  height: 40px;
  border-radius: 4px;
  background-color: black;
  color: white;
  transition: 0.5s;
  border: 1px solid transparent;
}

.btn:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: blue;
}

.btn1 {
  width: 148px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: 0.5s;
  background-color: black;
  color: white;
  font-weight: 700;
}

.btn1:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: tomato;
}

.btn2 {
  width: 148px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: 0.5s;
  background-color: black;
  color: white;
  font-weight: 700;
}

.btn2:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: rgb(158, 226, 11);
}

main {
  width: 1440px;
  height: 700px;
  display: flex;
  gap: 210px;
  display: flex;
  position: relative;
  z-index: 3;
}

.d2 {
  display: flex;
  gap: 30px;
}

.d3 {
  padding-left: 220px;
  margin-top: 145px;
}

.d4 {
  margin-top: 100px;
}

.d5 {
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
}

.s1 {
  background-color: black;
  position: relative;
  z-index: 4;
  top: -70px;
}

.q1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 460px;
  width: 379px;
  background-color: white;
  border-radius: 20px;
  position: relative;
}

.i1 {
  position: absolute;
  top: 60px;
  left: 70px;
  z-index: 1;
}

.i2 {
  position: absolute;
  z-index: 5;
  top: 285px;
  left: 150px;
}

.k1 {
  position: absolute;
  z-index: 2;
  background-color: white;
  width: 379px;
  left: 0px;
  height: 197px;
  border-radius: 0px 0px 20px 20px;
  top: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.d6 {
  display: flex;
  justify-content: space-between;
  margin-left: 136px;
  margin-right: 136px;
}

.s2 {
  display: flex;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 225px;
  padding-top: 80px;
  padding-bottom: 140px;
  background-color: #FF5437;
  color: white;
  position: absolute;
  top: 1965px;
  left: 0px;
  width: 1440px;
}

.h11 {
  font-size: 100px;
}

.h12 {
  font-size: 20px;
}

.s3 {
  display: flex;
  justify-content: space-between;
  padding-left: 214px;
  padding-right: 250px;
  position: absolute;
  top: 2500px;
  width: 1440px;
  left: 0px;
  line-height: 25px;
}

.s4 {
  display: flex;
  justify-content: space-between;
  padding-left: 214px;
  padding-right: 250px;
  position: absolute;
  top: 3060px;
  width: 1440px;
  left: 0px;
  line-height: 25px;
  background-color: gray;
}

.d7 {
  display: flex;
  gap: 30PX;
}

.s5 {
  position: absolute;
  background-color: black;
  top: 3605px;
  left: 0px;
  width: 1440px;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.i3 {
  border-bottom: 1px solid black;
}/*# sourceMappingURL=main.css.map */